.footer {
    text-align: center;
    padding: 1rem;
    background-color: #111;
    color: #fff;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.footer-subtext {
    font-size: 0.8rem;
    color: #bbb;
    margin-top: 0.2rem;
}